<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__navigation">
                <div class="footer__navigation_box">
                    <ul>
                        <li><a href="/reviews">{{ "navigation.reviews" | translate }}</a></li>
                        <li><a href="https://t.me/changesupport22" target="_blank">Support 24/6</a></li>
                        <li><a href="/contacts">{{ "navigation.contacts" | translate }}</a></li>
                    </ul>
                </div>

                <div class="footer__navigation_box">
                    <ul>
                        <li><a href="/tеrms_of_service">{{ "navigation.agreement" | translate }}</a></li>
                        <li><a href="/privacy_policy">{{ "navigation.aml" | translate }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="text-center">{{ "footer.copyright" | translate:{ year: (dateNow | date:'yyyy')} }}</div>
    </div>
</footer>