.footer {
  color: #4e555d;
  font-size: 15px;

  &__top {
    background-color: #eff3f6;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__navigation ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__bottom {
    background: #4e555d;
    color: #bec5ce;
    padding: 20px 0;
  }
}
