.content {
  padding: 25px 30px;
  width: 455px;

  h2 {
    margin-bottom: 10px;
    color: #333c48;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  label {
    display: flex;
    align-items: center;
    color: #89909b;

    span {
      margin-left: 10px;
      font-size: 15px;
    }
  }

  ::ng-deep app-button button {
   letter-spacing: 1px;
 }

  .footer {
    padding: 11px 30px;
    background: #eff3f6;
    margin: 20px -30px -25px;
    text-align: center;
    font-size: 14px;
    a {
      line-height: 20px;
    }
  }
}
