.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  text-align: center;

  .close {

  }
}

.modal-dialog {
  -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin: 80px auto;
  text-align: left;
  min-width: 440px;
  overflow: hidden;
  width: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  min-height: 48px;
}

.close {
  -webkit-box-shadow: inset 0 0 0 15px #ffffff;
  -moz-box-shadow: inset 0 0 0 15px #ffffff;
  box-shadow: inset 0 0 0 15px #ffffff;
  background: #e7e9ec;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  position: relative;
  outline: none;
  z-index: 2;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button.close {
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
  float: right;

  svg path {
    stroke: #c8c8c8;
  }

  &:hover {
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;

    svg path {
      stroke: rgba(0,0,0,0.5);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0;
  transition: 0.3s ease-in-out;

  &.opened {
    opacity: 0.1;
  }
}
