:host {
    display: block;
    background-color: #eff3f6;
    padding: 30px 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    margin-top: -250px;
    z-index: 2;
    &__giving,
    &__getting {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 25px 25px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 9px 3px rgb(0 0 0 / 7%);
        h2,
        p {
            margin-bottom: 0;
        }
    }
    &__getting {
        &_disabled {
            pointer-events: none;
            filter: brightness(0.75);
        }
    }
    &__badge {
        text-transform: uppercase;
        background: #e7e9ec;
        vertical-align: middle;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #89909b;
        margin-left: 10px;
        padding: 3px 6px;
        font-size: 10px;
        position: absolute;
        left: 0;
        transform: translateY(-110%) translateX(10%);
    }
}

.terms {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-align: center;
}

app-button {
    display: block;
}

.drop-down {
    &__btn {
        padding: 10px;
    }
    &__btn:empty {
        padding: 22.5px;
    }
}

.currency-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 10px;
}

.currency-item:first-child {
    padding: 0;
}

.currencies {
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: scroll;
    .currency-item {
        padding: 5px 10px;
    }
    .currency-item:hover {
        background-color: #30ae41;
        color: #ffffff;
    }
}

.additional-info {
    color: #838383;
}
